# Dataset1-1: Market share of EVs

## Objective

* Create a separate data set which only contains the market share of EVs (rather than total registration numbers)

## Problem

* Does the 'electricity' category refer only to all-electric vehicles or does it include hybrids?
* Solution: **We count a car as electric if it has an electric motor, so including all hybrids!** (Even though the majority of them relies more on their ICE than on their electric motor)
    * This is to be consistent with other data sources
    * For example, Norway is cited to have a market penetration of electric cars of around 40% in 2017
    * If we exclude hybrids, it will drop to 17%!
    * So, our definition of 'electric' will be very broad and include all hybrids!

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../data/road_eqr_carpda_cleaned.csv',header=0)


def calc_percent(data):
    tot = data.value.sum()
    elec = data[(data.motor=='electricity') | (data.motor=='hybrid')].value.sum()
    if tot == 0:
        elec_percent = 0
    else:
        elec_percent = (elec*100)/tot
    return pd.Series({'elec_percent':elec_percent})

df_p = df.groupby(['time','country']).apply(calc_percent)
df_p = df_p.reset_index()
df_p.head()

   time  country  elec_percent
0  2013  Austria      1.003395
1  2013  Belgium      1.276297
2  2013  Croatia      0.006443
3  2013   Cyprus      1.172058
4  2013  Denmark      0.000000

In [3]:
df_p[df_p.country=='Austria']

     time  country  elec_percent
0    2013  Austria      1.003395
28   2014  Austria      1.191123
56   2015  Austria      1.662784
84   2016  Austria      2.553580
112  2017  Austria      3.795771

In [4]:
df_p[df_p.country=='Norway']

     time country  elec_percent
18   2013  Norway      5.664161
46   2014  Norway     12.295253
74   2015  Norway     12.474481
102  2016  Norway     32.748185
130  2017  Norway     40.358658

In [5]:
df_p.to_csv('../data/ev_share_europe.csv',index=None)